.wrapper--header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 3.5fr;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  
  
  @media (min-width: 1200px) {
    grid-template-columns: 0.5fr 0.5fr 3.5fr 3.5fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
  }
}


//Styling for grid-a


.header__grid--a {
  background: #232320;
  grid-column: 1/2;
  grid-row: 1/2, 4/5;

  @media (min-width: 1200px) {
    grid-column: 1/3;
  }
}


//Styling for grid-b


.header__grid--b {
  background-color: #F1CA55;
  grid-column: 2/3;
  grid-row: 1/2;

  @media (min-width: 1200px) {
    grid-column: 3/5;
  }
} 



//Styling for grid-c

.header__grid--c {
  background-color: #FFFFFF;
  grid-column: 2/3;
  grid-row: 2/4;

  @media (min-width: 1200px) {
    grid-column: 3/4;
  }
}


//Styling for grid-d


.header__grid--d {
  background: linear-gradient(to bottom, #BC993D, #F1CA55);
  grid-column: 2/3;
  grid-row: 4/5;

  @media (min-width: 1200px) {
    grid-column: 3/5;
  }
}


//Styling for grid-e


.header__grid--e {

  background-image: url(../../assets/macaroon.jpg); 
  background-size: contain;
  // object-fit: cover;
  
  @media (max-width: 1200px) {
    display: none;
  }
  @media (min-width: 1200px) {
    grid-column: 4/5;
    grid-row: 2/4;
  }
}


//Styling for grid-f


.header__grid--f {
  background-color: #F1CA55;
  grid-column: 1/2;
  grid-row: 2/3;

  @media (min-width: 1200px) {
    grid-column: 2/3;
  }
}

.header__grid--g {
  background-color: #585E6A;
  grid-column: 1/2;
  grid-row: 3/4;

  @media (min-width: 1200px) {
    grid-column: 2/3;
  }
}





//Styling for header letters 


.letter{
  display: inline-block;
  font-weight: 900;
  position: relative;
  color: #a9657b;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  text-shadow: -1px 0 #a9657b, 0 1px #a9657b, 1px 0 #a9657b, 0 -1px #a9657b;
}

.letter--herosize {
  font-size: 3em;
}
.letter--smallsize {
  font-size: 1.5em;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-70deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(70deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

