article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.wrapper--header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 3.5fr;
  grid-template-rows: 1fr 3fr 3fr 1fr; }
  @media (min-width: 1200px) {
    .wrapper--header {
      grid-template-columns: 0.5fr 0.5fr 3.5fr 3.5fr;
      grid-template-rows: 1fr 3fr 3fr 1fr; } }

.header__grid--a {
  background: #232320;
  grid-column: 1/2;
  grid-row: 1/2, 4/5; }
  @media (min-width: 1200px) {
    .header__grid--a {
      grid-column: 1/3; } }

.header__grid--b {
  background-color: #F1CA55;
  grid-column: 2/3;
  grid-row: 1/2; }
  @media (min-width: 1200px) {
    .header__grid--b {
      grid-column: 3/5; } }

.header__grid--c {
  background-color: #FFFFFF;
  grid-column: 2/3;
  grid-row: 2/4; }
  @media (min-width: 1200px) {
    .header__grid--c {
      grid-column: 3/4; } }

.header__grid--d {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC993D), to(#F1CA55));
  background: linear-gradient(to bottom, #BC993D, #F1CA55);
  grid-column: 2/3;
  grid-row: 4/5; }
  @media (min-width: 1200px) {
    .header__grid--d {
      grid-column: 3/5; } }

.header__grid--e {
  background-image: url(../../assets/macaroon.jpg);
  background-size: contain; }
  @media (max-width: 1200px) {
    .header__grid--e {
      display: none; } }
  @media (min-width: 1200px) {
    .header__grid--e {
      grid-column: 4/5;
      grid-row: 2/4; } }

.header__grid--f {
  background-color: #F1CA55;
  grid-column: 1/2;
  grid-row: 2/3; }
  @media (min-width: 1200px) {
    .header__grid--f {
      grid-column: 2/3; } }

.header__grid--g {
  background-color: #585E6A;
  grid-column: 1/2;
  grid-row: 3/4; }
  @media (min-width: 1200px) {
    .header__grid--g {
      grid-column: 2/3; } }

.letter {
  display: inline-block;
  font-weight: 900;
  position: relative;
  color: #a9657b;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 400;
          perspective: 400;
  z-index: 1;
  text-shadow: -1px 0 #a9657b, 0 1px #a9657b, 1px 0 #a9657b, 0 -1px #a9657b; }

.letter--herosize {
  font-size: 3em; }

.letter--smallsize {
  font-size: 1.5em; }

.letter:before, .letter:after {
  position: absolute;
  content: attr(data-letter);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  top: 0;
  left: 0; }

.letter, .letter:before, .letter:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.letter:before {
  color: #fff;
  text-shadow: -1px 0px 1px rgba(255, 255, 255, 0.8), 1px 0px 1px rgba(0, 0, 0, 0.8);
  z-index: 3;
  -webkit-transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
          transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg); }

.letter:after {
  color: rgba(0, 0, 0, 0.11);
  z-index: 2;
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
          transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg); }

.letter:hover:before {
  color: #fafafa;
  -webkit-transform: rotateX(0deg) rotateY(-70deg) rotateZ(0deg);
          transform: rotateX(0deg) rotateY(-70deg) rotateZ(0deg); }

.letter:hover:after {
  -webkit-transform: scale(1.08, 1) rotateX(0deg) rotateY(70deg) rotateZ(0deg) skew(0deg, 22deg);
          transform: scale(1.08, 1) rotateX(0deg) rotateY(70deg) rotateZ(0deg) skew(0deg, 22deg); }

html {
  font-size: calc(1em + 1vw);
  font-family: 'Ubuntu', sans-serif; }

img {
  max-width: 100%; }
